<!-- wp:template-part {"slug":"header","tagName":"header","className":"yn-site-header"} /-->

<!-- wp:group {"tagName":"main","className":"yn-main yn-page-recherche","layout":{"type":"constrained"}} -->
<main class="wp-block-group yn-main yn-page-recherche"><!-- wp:group {"align":"full","className":"yn-entete-page","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull yn-entete-page"><!-- wp:paragraph {"className":"yn-label"} -->
<p class="yn-label">Recherche</p>
<!-- /wp:paragraph -->

<!-- wp:query-title {"type":"search"} /-->

<!-- wp:search {"label":"Nouvelle recherche","showLabel":false,"placeholder":"Titre d’œuvre, auteur, tome, actualité…","buttonText":"Rechercher","buttonPosition":"button-inside","buttonUseIcon":true,"className":"yn-recherche"} /--></div>
<!-- /wp:group -->

<!-- wp:yume/recherche /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"yn-site-footer"} /-->
