<!-- wp:template-part {"slug":"header","tagName":"header","className":"yn-site-header"} /-->

<!-- wp:group {"tagName":"main","className":"yn-main yn-fiche yn-fiche--tome","layout":{"type":"constrained"}} -->
<main class="wp-block-group yn-main yn-fiche yn-fiche--tome"><!-- wp:group {"align":"full","className":"yn-fiche__entete","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull yn-fiche__entete"><!-- wp:group {"align":"wide","className":"yn-fiche__principal","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide yn-fiche__principal"><!-- wp:yume/tome-header /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","className":"yn-fiche__corps","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide yn-fiche__corps"><!-- wp:yume/tome-toc /-->

<!-- wp:group {"tagName":"section","className":"yn-card yn-fiche__commentaires","layout":{"type":"constrained","contentSize":"860px","justifyContent":"left"}} -->
<section class="wp-block-group yn-card yn-fiche__commentaires"><!-- wp:pattern {"slug":"yume/commentaires"} /--></section>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"yn-site-footer"} /-->
