<!-- wp:yume/reader-tools /-->

<!-- wp:group {"tagName":"main","className":"yn-main yn-lecture","layout":{"type":"default"}} -->
<main class="wp-block-group yn-main yn-lecture"><!-- wp:group {"tagName":"article","className":"yn-reader","layout":{"type":"default"}} -->
<article class="wp-block-group yn-reader"><!-- wp:yume/chapter-header /-->

<!-- wp:post-content {"className":"yn-reader__texte","layout":{"type":"default"}} /-->

<!-- wp:yume/chapter-nav /--></article>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","className":"yn-lecture__commentaires","layout":{"type":"constrained"}} -->
<section class="wp-block-group yn-lecture__commentaires"><!-- wp:pattern {"slug":"yume/commentaires"} /--></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"yn-site-footer"} /-->
